.bisection-content h1{
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

.input-form{
    font-size: large;
    text-align: center;
    margin-bottom: 10px;
}

.input-form .input-form-fx{
    width: 90%;
    margin-left: 5px;
    margin-right: 5px;
}

.input-form .input-form-init{
    width: 50%;
    margin-left: 5px;
}

.col-input-xl{
    text-align: end;
}

.col-input-err{
    text-align: start;
}

.input-form-err{
    margin-right: 5px;
    width: 70%;
}

/* .col-reset-button{
    text-align: end;
} */

.reset-button{
    margin-right: 5px;
    background-color: darkgrey;
    border-color: darkgrey;
}

.reset-button:hover,
.reset-button:focus{
    background-color: rgb(199, 199, 199);
    border-color: rgb(199, 199, 199);
}

.example-button{
    margin-left: 5px;
    background-color: rgb(0, 169, 0);
    border-color: rgb(0, 169, 0);
}

.example-button:hover,
.example-button:focus{
    background-color: rgb(0, 200, 0);
    border-color: rgb(0, 200, 0);
}

.row-button{
    margin-top: 30px;
    margin-bottom: 30px;
}

.col-button{
    text-align: center;
}

.cal-button{
    margin-left: 5px;  
    margin-right: 5px;
}